* {color:#808080;font-family:Tahoma,Geneva,sans-serif;font-size:14px;}
.middle {color:#404040;font-size:16px;}
.large {color:#000000;font-size:20px;}
.footer {color:#a6a6a6;font-size:12px;position:fixed;bottom:0px;}
.hidden {display:none;}
.invisible {visibility:hidden;}
.box {border:1px solid black;}
button.unavailable {
  opacity:0.6;
  cursor: not-allowed;
  color:#ff0000;
}
button * {
  display:inline-block;
  background-color:#f7f7f7;
  border: 1px solid #4CAF50;
  border-radius:2px;
  color:#070707;
  height:auto;
}
button.changescr {
  float:left;
  margin:auto;
  border:2px solid green;
  border-radius:6px;
  background-color:#dfdfff;
  color:#0f0f0f;
  font:bold;
  font-size:16px;
}
td.achievement {
  border-radius:4px;
  border:2px solid black;
  background-color:#dfdfdf;
  text-align:center;
  font-size:10px;
  font-family:"Lucida Console", Monaco, monospace;
  color:#101010;
  text-shadow: 0px 0px 4px #ffffff;
  width:9%;
  min-width:60px;
  height:60px;
  margin:1px;
  padding:2px;
  word-wrap:break-word;
  -ms-word-break:break-word;
  word-break: break-word;
  -ms-hyphens:auto;
  -moz-hyphens:auto;
  -webkit-hyphens:auto;
  hyphens:auto;
}
td.done {
  background-color:#80df80;
}
.switch{
  position:relative;
  display:inline;
}
.switch input{display:none;}
.slider{
  position:absolute;
  cursor:pointer;
  top:0;
  left:0;
  right:0;
  bottom:0;
  background-color:#909090;
  -webkit-transition:.2s;
  transition:.2s;
}
.slider:before{
  position:absolute;
  content:"";
  height:80%;
  width:40%;
  left:10%;
  bottom:10%;
  background-color:white;
  -webkit-transition:.2s;
  transition:.2s;
}
input:checked+.slider{
  background-color:#4893D3;
}
input:checked+.slider:before{
  -webkit-transform:translateX(100%);
  -ms-transform:translateX(100%);
  transform:translateX(100%);
}
.slider.round{
  border-radius:34px;
}
.slider.round:before{
  border-radius:50%;
}
.tooltip{
    position:relative;
}
.tooltip .tooltiptext{
    visibility:hidden;
    width:120px;
    background-color:#f0f0f0;
    text-align:center;
    font-size:90%;
    border:1px #202020 solid;
    border-radius:4px;
    padding:3px 1px;
    position:absolute;
    z-index:1;
    bottom:125%;
    left:50%;
    margin-left:-60px;
    opacity:0;
    transition:opacity 0.15s;
}
.tooltip .tooltiptext::after{
    content:"";
    position:absolute;
    top:100%;
    left:50%;
    margin-left:-5px;
    border-width:5px;
    border-style:solid;
    border-color:#555 transparent transparent transparent;
}
.tooltip:hover .tooltiptext{
    visibility:visible;
    opacity:1;
}
